<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
  <div class="wrapper">
    {{>header}}
    
    <p>This site was created by M. Daugherty. It uses data from Weatherstack and Mapbox.</p>
    
    <img src="img/robot.png" alt="robot" class="about-img">
  </div>

   {{>footer}}
  </body>

</html>